*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 100vh;
    width: 100%;
    background-image: url('ds.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-self: center;
    user-select: none;
}
.main-header h1{
    font-size: 3.5rem;
    color: #66ff33;
    margin: 20px;
}
.main-header{text-align: center;
    margin-top: 55px;
    height: 450px;
    transform: 0.5s;
}
.main-header hr{
    width: 50%;
    margin: auto;
    padding: 5px;
    background: #b3ff99;
    border: none;
}
.main-header input{
    width: 90%;
    padding: 1rem;
    margin: 20px 0px;
    border: none;
    border-bottom: 2px solid #c6ffb3;
    font-size: 1.5rem;
    background: transparent;
    outline: none;
    color: white;
}
.main-header button{
    padding: 1rem 3rem;
    font-size: 1.2rem;
    background: #b3ff99;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    margin: 20px;
}
.main-header button :hover{
    transform: scale(1.2);
}
.main-header:hover{
    -webkit-box-shadow: 14px 10px 75px 0px rgba(12,232,82,1);    
    -moz-box-shadow: 14px 10px 75px 0px rgba(12,232,82,1);
    box-shadow:  14px 10px 75px 0px rgba(12,232,82,1);
}